.button
{
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 10px #627295;
  border-radius: 3px;
}

.box
{
  display: block;
  padding: 10px 10px;
  border-radius: 3px;
}

.inline_box
{
  display: block;
  padding: 10px 150px;
  border-radius: 3px;
}

.bg_pattern 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}

.Diagonal_v2 
{
  background: repeating-linear-gradient( -45deg, #ffc107, #ffc107 10px, #ffe9a7 10px, #ffe9a7 50px );
}

/*=============
base
==============*/

html, body 
{
  margin: 0;
  padding: 0;
}
body 
{
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}

* {
  box-sizing: border-box;
}
.section {
  max-width: 1024x;
  margin: 0 auto;
  padding: 100px 20px 1000px;
}